<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display CRUD</title>
    <style>
        table, th, td {
          border:1px solid black;
          border-collapse: collapse;
        }
    </style>
</head>
<body>
    <table style="width:100%">
        <tr>
          <th>Email</th>
          <th>First Name</th>
          <th>Last name</th>
          <th>Address</th>
          <th>Action</th>
        </tr>
        <% for(var i=0; i < data.length; i++) { %>
            <tr>
              <td>
                <%= data[i].email %>
              </td>
              <td>
                <%= data[i].firstname %>
              </td>
              <td>
                <%= data[i].lastname %>
              </td>
              <td>
                <%= data[i].address %>
              </td>
              <td>
                <a href="/getEditCRUD?id=<%= data[i].id %>" type="button" >Edit</a>
                <a href="/delete-crud?id=<%= data[i].id %>" type="button">Delete</a>
              </td>
            </tr>
         <% } %>
      </table>
</body>
</html>